body,*{
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    height: 100px;
}
.menu{
    background-color: rgb(0, 148, 228);
    height: 50px;
}
.content{
    height: 430px;
    display: flex;

}
.content .left{
    width: 33%;
    background-color: red;
}
.content .mid{
    width: 33%;
    background-color: aquamarine;
}
.content .right{
    width: 33%;
    background-color: blueviolet;
}
footer{
    height: 70px;
    background-color: grey;
}